@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url('scaryhour4.png') no-repeat;
  background-size: cover;
}

.pagecenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  font-family: "Cal Sans", sans-serif;
  width: 420px;
  background: transparent;
  backdrop-filter: grayscale(55%) blur(5px);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
}

.wrapper h1 {
  font-size: 36px;
}

.wrapper .inputbox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.inputbox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.inputbox input::placeholder {
  color: white;
}

.inputbox i {
  position: absolute;
  right: 20px;
  top: 20%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .submitBtn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16.5px;
  color: #333;
  font-weight: 600;
}

.wrapper .registerLink {
  font-size: 15px;
  margin: 20px 0 15px;
}

.registerLink a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  transition: text-decoration 0.15s;
}

.registerLink a:hover {
  text-decoration: underline;
}

.notfound {
  font-size: 50px;
  color: white;
}

.password-box {
  position: relative;
  display: flex;
  align-items: center;
}

.password-box input {
  flex: 1;
  padding-right: 2rem;
}

.password-box .icon {
  position: absolute;
  right: 18px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.7);
}

.learn {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.guide-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10; 
  padding: 40px;
}

.guide-box {
  background-color: #15071A;
  color: #e4e4e4;
  padding: 20px;
  border-radius: 8px;
  border: 1.5px solid #9FE215;
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Cal Sans", sans-serif; 
}

.guide-avatar {
  width: 80px;
  height: 80px;
}

.guide-content {
  flex-grow: 1;
}

.guide-text {
  margin: 0 0px 20px 0;
  font-size: 18px;
  line-height: 1.5;
  white-space: pre-line; 
}

.guide-next-button {
  display: block;
  margin-left: auto;
  padding: 8px 20px;
  background-color: #9FE215;
  color: #0c030f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out; 
}

.guide-next-button:hover {
  background-color: #BBFF34;
}


.highlight-element {
  position: relative;
  z-index: 20 !important;
  background-color: #15071A;
  border-radius: 8px;
  box-shadow: 0 0 0 4px #9FE215 !important;
  transition: all 0.3s ease;
  pointer-events: none;
}
.highlight-element.interactive {
  pointer-events: auto;
  cursor: pointer;
}