.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: "Cal Sans", sans-serif;
}

.modal-box {
  width: 600px; 
  max-width: 90%; 
  background-color: #15071A; 
  padding: 1.5rem 2rem; 
  border-radius: 10px;
  color: white;
  position: relative; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  min-height: 320px; 
  max-height: 90vh; 
}

.modal-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 1rem; 
}

.modal-header h2 {
  margin: 0; 
  font-size: 1.5rem; 
  color: #E0E0E0; 
}

.modal-close-button {
  background: none;
  border: none;
  color: #AAA; 
  cursor: pointer;
  padding: 0.25rem; 
  line-height: 1; 
}

.modal-close-button:hover {
  color: red; 
}

.modal-close-button .MuiSvgIcon-root {
  font-size: 2rem; 
}

.modal-content {
  flex-grow: 1; 
  overflow-y: auto; 
  margin-bottom: 1.5rem; 
}

.modal-description {
  text-align: left; 
  font-size: 0.95rem;
  line-height: 1.6;
  color: #C5C5C5; 
  
}

.modal-buttons {
  display: flex; 
  gap: 1rem; 
  margin-top: auto; 
}

.material-action-button {
  flex-grow: 1; 
  flex-basis: 0; 
  padding: 0.75rem 1rem; 
  border: none;
  border-radius: 8px; 
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #9FE215; 
  color: #030401; 
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out; 
}

.material-action-button:hover {
  background-color: #BBFF34; 
}

.material-action-button.disabled-button,
.material-action-button:disabled { 
  background-color: #555; 
  color: #999; 
  cursor: not-allowed; 
  opacity: 0.7; 
}

.material-action-button.disabled-button:hover,
.material-action-button:disabled:hover {
  background-color: #656565;
}